@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white ;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

}
@layer utilities {
  .underline-offset-4 {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px; /*Adjust this value for spacing */
  }
}

